# API
NEXT_PUBLIC_API_BASE_URL=

# Google Analytics
NEXT_PUBLIC_GA_ID=

# Sentry
NEXT_PUBLIC_SENTRY_DSN=
NEXT_PUBLIC_SENTRY_ENABLED=

# Sentry Source Map 업로드 (CI/Vercel 환경에서만 필요)
# SENTRY_ORG=
# SENTRY_PROJECT=
# SENTRY_AUTH_TOKEN=
